<a href="https://colab.research.google.com/github/AndersonCollaguazo/inteligencia_artificial/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
# Use this line to load the dataset.
url='https://raw.githubusercontent.com/Sinchiguano/chicagoUniversity/main/cta_Ridership.csv'
# your code here
rider=pd.read_csv(url)

In [33]:

# for basic exploration, we suggest to use shape, head(), tail(), dtypes, type() modules
# your code here
print(rider.shape)
rider.head(10)

(1145586, 4)

            station_id               stationname daytype  rides
date
2017-12-22       41280            Jefferson Park       W   6104
2017-12-18       41000          Cermak-Chinatown       W   3636
2017-12-02       40280              Central-Lake       A   1270
2017-12-19       40140           Dempster-Skokie       W   1759
2017-12-03       40690                  Dempster       U    499
2017-12-30       41660                Lake/State       A   8615
2017-12-17       40180      Oak Park-Forest Park       U    442
2017-12-02       40250  Kedzie-Homan-Forest Park       A   1353
2017-12-07       40120               35th/Archer       W   3353
2017-12-19       41420        Addison-North Main       W   6034

In [34]:
# use the describe module
# your code here
rider['rides'].describe()

count    1.145586e+06
mean     3.056635e+03
std      3.118576e+03
min      0.000000e+00
25%      9.630000e+02
50%      2.004000e+03
75%      4.025000e+03
max      3.632300e+04
Name: rides, dtype: float64

In [36]:
# use the min() and max() modules
# your code here
rider['rides'].min()

0

In [35]:
rider['rides'].max()

36323

Create a Time Index

So we have all rides from January 1, 2001 to December 31, 2019. Let's do some statistics that group ride statistics by date. First we need to tell Pandas that the date column is in fact a date. So, we convert the column to a proper 'DateTime' type, and then set the index to this column.

This step takes a little bit of time!

The following picture show the desired output

In [39]:
rider['date'] = pd.to_datetime(rider['date'])

KeyError: ignored