<a href="https://colab.research.google.com/github/AndersonCollaguazo/inteligencia_artificial/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
# Use this line to load the dataset.
url='https://raw.githubusercontent.com/Sinchiguano/chicagoUniversity/main/cta_Ridership.csv'
# your code here
rider=pd.read_csv(url)

In [10]:

# for basic exploration, we suggest to use shape, head(), tail(), dtypes, type() modules
# your code here
print(rider.shape)
rider.head(3)

(1145586, 5)

   station_id       stationname        date daytype  rides
0       41280    Jefferson Park  12/22/2017       W   6104
1       41000  Cermak-Chinatown  12/18/2017       W   3636
2       40280      Central-Lake  12/02/2017       A   1270

In [11]:
# use the describe module
# your code here
rider['rides'].describe()

count    1.145586e+06
mean     3.056635e+03
std      3.118576e+03
min      0.000000e+00
25%      9.630000e+02
50%      2.004000e+03
75%      4.025000e+03
max      3.632300e+04
Name: rides, dtype: float64

In [12]:
# use the min() and max() modules
# your code here
rider['rides'].min()

0

In [13]:
rider['rides'].max()

36323

Create a Time Index

So we have all rides from January 1, 2001 to December 31, 2019. Let's do some statistics that group ride statistics by date. First we need to tell Pandas that the date column is in fact a date. So, we convert the column to a proper 'DateTime' type, and then set the index to this column.

This step takes a little bit of time!

The following picture show the desired output

In [18]:
print(rider.head())

            station_id       stationname daytype  rides
date
2017-12-22       41280    Jefferson Park       W   6104
2017-12-18       41000  Cermak-Chinatown       W   3636
2017-12-02       40280      Central-Lake       A   1270
2017-12-19       40140   Dempster-Skokie       W   1759
2017-12-03       40690          Dempster       U    499

In [19]:


# hint, use to_datetime() and set_index()  modules
# your code here
rider['date']=pd.to_datetime(rider['date'])
rider = rider.set_index('date')

KeyError: ignored