<a href="https://colab.research.google.com/github/AndersonCollaguazo/inteligencia_artificial/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [102]:
import pandas as pd
# Use this line to load the dataset.
url='https://raw.githubusercontent.com/Sinchiguano/chicagoUniversity/main/cta_Ridership.csv'
# your code here
rider=pd.read_csv(url)
print(rider.columns)

Index(['station_id', 'stationname', 'date', 'daytype', 'rides'], dtype='object')

In [103]:

# for basic exploration, we suggest to use shape, head(), tail(), dtypes, type() modules
# your code here
print(rider.head)
print(rider.columns)

<bound method NDFrame.head of          station_id        stationname        date daytype  rides
0             41280     Jefferson Park  12/22/2017       W   6104
1             41000   Cermak-Chinatown  12/18/2017       W   3636
2             40280       Central-Lake  12/02/2017       A   1270
3             40140    Dempster-Skokie  12/19/2017       W   1759
4             40690           Dempster  12/03/2017       U    499
...             ...                ...         ...     ...    ...
1145581       41700  Washington/Wabash  12/27/2022       W   3991
1145582       41700  Washington/Wabash  12/28/2022       W   4100
1145583       41700  Washington/Wabash  12/29/2022       W   4741
1145584       41700  Washington/Wabash  12/30/2022       W   4664
1145585       41700  Washington/Wabash  12/31/2022       A   2774

[1145586 rows x 5 columns]>
Index(['station_id', 'stationname', 'date', 'daytype', 'rides'], dtype='object')

In [104]:
# use the describe module
# your code here
rider['rides'].describe()

count    1.145586e+06
mean     3.056635e+03
std      3.118576e+03
min      0.000000e+00
25%      9.630000e+02
50%      2.004000e+03
75%      4.025000e+03
max      3.632300e+04
Name: rides, dtype: float64

In [105]:
# use the min() and max() modules
# your code here
print('Min: ',rider['rides'].min())
print('Max: ',rider['rides'].max())

Min:  0
Max:  36323

In [106]:

#Create a Time Index
#So we have all rides from January 1, 2001 to December 31, 2019. Let's do some statistics that group ride statistics by date. First we need to tell Pandas that the date column is in fact a date. So, we convert the column to a proper 'DateTime' type, and then set the index to this column.

#This step takes a little bit of time!
#The following picture show the desired output

# Convertir la columna 'date' a tipo de dato 'DateTime'
rider['date'] = pd.to_datetime(rider['date'])

# Filtrar los datos desde el 1 de enero de 2001 hasta el 31 de diciembre de 2019
start_date = pd.to_datetime('2001-01-01')
end_date = pd.to_datetime('2019-12-31')
filtered_rider = rider[(rider['date'] >= start_date) & (rider['date'] <= end_date)]

# Establecer la columna 'date' como Ã­ndice
filtered_rider.set_index('date', inplace=True)

# Imprimir los datos filtrados del DataFrame
print(filtered_rider)

            station_id       stationname daytype  rides
date
2017-12-22       41280    Jefferson Park       W   6104
2017-12-18       41000  Cermak-Chinatown       W   3636
2017-12-02       40280      Central-Lake       A   1270
2017-12-19       40140   Dempster-Skokie       W   1759
2017-12-03       40690          Dempster       U    499
...                ...               ...     ...    ...
2008-07-03       40030      Pulaski-Lake       W   2523
2014-04-25       40760         Granville       W   5085
2010-12-22       40830              18th       W   1464
2009-05-13       40040      Quincy/Wells       W   7269
2004-10-01       41240    Addison-O'Hare       W   3099

[988858 rows x 4 columns]