<a href="https://colab.research.google.com/github/AndersonCollaguazo/inteligencia_artificial/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# Use this line to load the dataset.
url='https://raw.githubusercontent.com/Sinchiguano/chicagoUniversity/main/cta_Ridership.csv'
# your code here
rider=pd.read_csv(url)

In [ ]:

# for basic exploration, we suggest to use shape, head(), tail(), dtypes, type() modules
# your code here
print(rider.shape)
rider.head(3)

(1145586, 5)

   station_id       stationname        date daytype  rides
0       41280    Jefferson Park  12/22/2017       W   6104
1       41000  Cermak-Chinatown  12/18/2017       W   3636
2       40280      Central-Lake  12/02/2017       A   1270

In [ ]:
# use the describe module
# your code here
rider['rides'].describe()

count    1.145586e+06
mean     3.056635e+03
std      3.118576e+03
min      0.000000e+00
25%      9.630000e+02
50%      2.004000e+03
75%      4.025000e+03
max      3.632300e+04
Name: rides, dtype: float64

In [ ]:
# use the min() and max() modules
# your code here
rider['rides'].min()

0

In [ ]:
rider['rides'].max()

36323